body {
  background-image: url('interlaced.png');
  /*font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;*/
}

.container {
/*  width: 40%;
  background-color: gray;
  border-radius: 15px 50px;
  padding: 10px;*/
}

#map {
  height: 500px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}