body {
  background-image: url('interlaced.png');
  /*font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;*/
}

.header-text {
  background-color: rgb(52, 58, 64);
  color: white;
  padding: 40;
}

#search-bar {
  text: red;
}

#map {
  height: 500px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}